{% extends 'layout.html' %}

{% block body %}

    <div class="banner">
        <img src="/static/banner.jpg" alt="banner">
        <div class="line"></div>
        <p class="paragrafo" id="paragrafo">Togehter we are Stronger!</p>
        <div class="line1"></div>
    </div>

    <div class="conteudo">
        <img src="/static/logo.png" alt="logo">
        <p>We are a website that seek saviors that can help NGO's across the country.<br>Choose a cause that touches your heart
            and help.<br> We are a non profit project, you contact directly the NGO to know how to help, you can donate money or you can volunteer to a cause.</p>
    </div>



    <script src="./static/script.js"></script>

{% endblock %}