<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/reset.css">
    <link rel="stylesheet" href="./static/styles.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./index.html"><img src="./static/logo.png" alt="logo" width="70px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link " href="./ngoshome">Home </a>
            <a class="nav-item nav-link logout " href="./logout">Logout</a>
          </div>
        </div>
    </nav>

    <div class="hello">
        <p>Hello {{ name }}!</p>
    </div>
    <div class="newcase"> <a href="./newcase">Register new case</a></div>
    <div class="greeting">
        <p>These are your cases:</p>
    </div>

    <div class="cases">

        {% for row in rows %}


        <div class="card border-success mb-3" style="max-width: 18rem;">

            <div class="card-header">{{ row['title'] }}</div>

            <div class="card-body">

                <p class="card-text">{{ row['text'] }}</p>
                <p id="whatsapp"> <img src="./static/whats.png" alt="whatsapp" height="15px" > {{ row['whatsapp'] }}</p>
                <form  action="/delete" method="POST">
                    <input class="hidden" type="text" name="id" id="id" value= "{{row['id']}}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

            </div>
        </div>

        {% endfor  %}


    </div>




</body>
</html>