{% extends 'layout.html' %}

{% block body %}
    <div class="login">
      <form action='/registerngo' method='POST' class="ngo">
        <p class="title">NGO</p>
        <div class="form-group">
            <label for="ngosname">NGO's name</label>
            <input type="text" name="ngosname" class="form-control" id="ngosname" aria-describedby="emailHelp">
        <div class="form-group">
            <label for="ngoswhatsapp">Whatsapp</label>
            <input type="text" name="ngoswhatsapp"  class="form-control" id="ngoswhatsapp" aria-describedby="emailHelp">

          </div>
        <div class="form-group">
          <label for="ngospassword">Password</label>
          <input type="password" name="ngospassword" class="form-control" id="ngospassword">
        </div>
        <div class="form-group">
            <label for="ngosconfirmpassword">Confirm Password</label>
            <input type="password" name="ngosconfirmpassword"  class="form-control" id="ngosconfirmpassword">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>

{% endblock %}